body{
	background-image:url('../img/fondo.jpg'); 
	background-repeat:no-repeat; 
	background-position:center bottom; 
	background-color:#000000; 
	background-attachment:fixed;
	padding:0;
	margin:0;
	height:100%;
}
