.chatboxNombre {
	font-weight:bold; 
        FONT-FAMILY:tahoma;
	font-size:9px;
}
.chatboxMensaje {
	font-size:9px; FONT-FAMILY: tahoma;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
	-moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}
.chatboxInfo {
	font-size:8px;
	float:right;
	color:#333333;
}
#chatboxMensajes {
	overflow:auto; 
	vertical-align:top; 
	height:250px; padding-right: 0px;
}
.chatboxTabla {
	BORDER-LEFT: #CCCCCC 1px solid; BORDER-TOP: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC 1px solid; BORDER-RIGHT: #CCCCCC 1px solid; 
}
.chatboxError {
	color:#CC9900;
	font-size:9px;
	text-align:center;
}