<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Cuenta creada con éxito: <?php echo $_SERVER['HTTP_HOST'] ?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Hospedaje Web, Hosting, Registro de Dominios, Hosting en Venezuela, VenezuelaHosting.com" />
    <meta name="keywords" content="Hospedaje Web, Hosting, Registro de Dominios, Hosting en Venezuela, VenezuelaHosting.com" />
    <meta name="description" content="Hospedaje Web, Hosting, Registro de Dominios, Hosting en Venezuela, VenezuelaHosting.com" />
    <meta name="url" content="<?php echo $_SERVER['HTTP_HOST'] ?>" />
    <meta name="page-topic" content="Hospedaje Web, Hosting, Registro de Dominios, Hosting en Venezuela, VenezuelaHosting.com" />
    <meta http-equiv="PRAGMA" content="NO-CACHE" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE,NO-STORE,MUST-REVALIDATE" />
    <meta name="GOOGLEBOT" content="INDEX,FOLLOW" />
    <meta name="ROBOTS" content="INDEX,FOLLOW,ALL,NO-ARCHIVE" />
    <meta name="REVISIT" content="7 days" />
    <meta name="NOW" content="2012-01-13 18:00" />
    <meta name="REVIEW" content="2012-01-13" />
    <meta name="REVISIT-AFTER" content="7 DAYS" />
    <meta name="Language" content="Spanish">

    <style type="text/css">
        *{ margin:0px; padding:0px; border:none; }
        body { wfont-family: Arial, Tahoma, Verdana; font-size: 11px; color: #6e6e6e; text-align:center; background: white url(/img-sys/bg.jpg) repeat-x left top;}
        table, table th, table tr, table td, div, img { vertical-align: top; }
        a { color: #017cc0; text-decoration: none; }
        a:hover { color: #017cc0; text-decoration: underline;}

        #wrapper {width: 1257px;/*--margin:0px auto;text-align:justify;--*/  position: relative; left: 50%; margin-left: -650px; }
        html { overflow-x: hidden;}
        .centro {width: 1257px; height: auto; }
        .cont-central {width:1101px; height: auto; margin: 0px auto; text-align: center;}
        .centrado-creciente {display:table;width:auto; margin: 0px auto; text-align: justify; background: url(/img-sys/log-blue.jpg) no-repeat center top;}
        .centrado-creciente p {text-align: center;color: #6e6e6e; font-family: Trebuchet MS, Arial, Tahoma, Verdana; font-size: 10px; font-weight: normal; top: 60px;}

        
        .creciente {float:left; overflow:hidden; height: auto; text-align: justify; margin-top: 110px;background: url(/img-sys/linea-baja.jpg) no-repeat center bottom;}        
        .izquierda {width: 23px; height: 558px;  float: left; display: inline; }
        .derecha {width: 28px; height: 577px; float: left; display: inline; }
        .medio {display:table;width:auto; float: left; display: inline; padding-bottom: 50px;}
        .medio h1 { text-align: center;color: #044d9b; font-family: Trebuchet MS, Arial, Tahoma, Verdana; font-size: 23px; font-weight: bold; margin-top: 40px;}
        .medio h2 { text-align: center;color: #017cc0; font-family: Trebuchet MS, Arial, Tahoma, Verdana; font-size: 19px; font-weight: bold; margin-top: 10px;}
        .medio h3 { text-align: center;color: #017cc0; font-family: Trebuchet MS, Arial, Tahoma, Verdana; font-size: 17px; font-weight: normal; margin-top: 10px;}
        .imgcenter { text-align: center; margin-top: 25px;}
        .medio p { text-align: center;color: #6e6e6e; font-family: Trebuchet MS, Arial, Tahoma, Verdana; font-size: 12px; font-weight: normal; margin-top: 30px;}
        
        #menu-inf {width:600px;margin: 0px auto; }
        #menu-inf ul {list-style-type: none;width: 600px; margin: 0px auto; font-family: Arial, Tahoma, Verdana; font-size: 12px; text-align: center; font-weight: normal;color: white; margin-top: 20px; height:22px;}
        #menu-inf ul li {  padding: 0px 6px 0px 6px; float: left;}
        #menu-inf ul li a {color:White;}
        #menu-inf ul li a:hover {color:White; text-decoration: underline;}
        #menu-inf p {width: 580px; height:25px; text-align: center;color: #fff; font-family: Trebuchet MS, Arial, Tahoma, Verdana; font-size: 12px; font-weight: normal; float:left; display: inline; margin-top: 12px;}

        #footer {width: 100%; position: absolute; bottom: 0; left: 0px; height:92px; background: url(/img-sys/bg-foot.jpg) repeat-x left top;}


    </style>

</head>
<body>
    <div id="wrapper">
        <div class="centro">
            <div class="cont-central">

                <div class="centrado-creciente">
                    <div class="creciente">
                        <div class="medio">
                            
                            <h1>¡Bienvenido!</h1>
                            <h2><?php echo $_SERVER['HTTP_HOST'] ?></h2>
                            <h3>Su cuenta a sido Creada con Éxito...</h3>
                            <div class="imgcenter"><img src="/img-sys/v-check.jpg" alt="Bienvenido" title="Bienvenido" /></div>
                            <p>Esta página es creada automáticamente para indicarle que su<br /> cuenta de <a href="http://www.venezuelahosting.com/hosting.php" rel="nofollow" target="_blank">Hosting</a> / <a href="http://www.venezuelahosting.com/registro-dominios.php" rel="nofollow" target="_blank">Dominio</a> han sido creados con éxito. </p>
                            <p>Podrá modificar este contenido alojando los archivos de su sitio en la carpeta public_html<br />o www en su servidor. Para ello utilice el cliente de FTP de su preferencia, configurando el<br /> mismo de acuerdo a los datos suministrados.</p>
                            <p>Para acceder a su panel de control haga clic <a href="https://ve09.paneldehosting.com/cpanel" rel="nofollow" target="_self">aquí</a> y utilice los datos de acceso suministrados.<br /><br /></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="footer">

                            <div id="menu-inf">
                                <ul>
                                    <li><a href="http://www.venezuelahosting.com/comparativa.php" rel="nofollow" target="_blank">Hosting</a></li>
                                    <li>|</li>
                                    <li><a href="http://www.venezuelahosting.com/comparativa.php" rel="nofollow" target="_blank">Hospedaje Web</a></li>
                                    <li>|</li>
                                    <li><a href="http://www.venezuelahosting.com/registro-dominios.php" rel="nofollow" target="_blank">Dominios</a></li>
                                    <li>|</li>
                                    <li><a href="http://www.venezuelahosting.com/extras.php" rel="nofollow" target="_blank">Certificados de Seguridad</a></li>
                                    <li>|</li>
                                    <li><a href="http://www.venezuelahosting.com/microsites/alta-en-buscadores/index.pl"  rel="nofollow" target="_blank">Alta en Buscadores</a></li>
                                </ul>
                               <p>VenezuelaHosting.com - Fácil Company, C.A. - RIF: J-29538321-5 © Copyright 2012</p>

                            </div>
    </div>







</body>
</html>
